@using HealthSpot.Models
@model EmployeeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
Welcome to HealthSpot - Your #1 Medical Dashboard
</div>

<div class="well-lg">
    Current Logged In Employee:
    <br /><br/> First Name: @Html.DisplayFor(m => m.FirstName)
    <br/> Last Name: @Html.DisplayFor(m => m.LastName)
    <br/> Birth Date: @Html.DisplayFor(m => m.BirthDate)
    <br/> Job Title: @Html.DisplayFor(m => m.JobTitle)
</div>