@using HealthSpot.Models
@model EmployeeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="well-lg">
    Current Logged In Employee:
    <br /><br/> First Name: @Html.DisplayFor(m => m.FirstName)
    <br/> Last Name: @Html.DisplayFor(m => m.LastName)
    <br/> Birth Date: @Html.DisplayFor(m => m.BirthDate)
    <br/> Job Title: @Html.DisplayFor(m => m.JobTitle)
</div>